<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="" style="font-weight:bold;">
      <img src="../../../assets/img/logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      BON APPETIT
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <!--login-->
        <li class="nav-item">
          <a class="nav-link" onclick="document.getElementById('id01').style.display='block'">Login</a>
          <div id="id01" class="modal">

            <form class="modal-content animate" action=" " method="post">
              <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close"
                  title="Close Modal">&times;</span>
                <img src="../../../assets/img/Profile Photo.jpeg" alt="Avatar" class="avatar">
              </div>

              <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button class="loginbtn" type="submit">Login</button>
                <label>
                  <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
              </div>

              <div class="container-fluid " style="background-color:#f1f1f1">
                <div class="row">
                  <button class="loginbtn col-lg-3 mt-3 mb-3" type="button"
                    onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                  <span class="signupLink col-lg-9">
                    <h6>Don't have an account? <a routerLink="signup" routerLinkActive="active-link">Sign Up</a></h6>
                  </span>
                </div>
              </div>
            </form>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="menu" routerLinkActive="active-link">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active-link">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="signup" routerLinkActive="active-link">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="active-link">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>