<div class="container-fluid footer">
    <div class="row">
        <div class="col-lg-1 mt-3" style="padding-left: 30px;">
            <img src="../../../assets/img/logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        </div>

        <div class="col-lg-4 mt-4">
            <h1>BON APPETIT</h1>
            <p>GOOD FOOD, GOOD EAT</p>
        </div>
        
        <div class="col-lg-4 mt-4">
            <a routerLink="">Home</a>
            <a routerLink="menu">Menu</a>
            <a routerLink="about">About</a>
            <a routerLink="contact">Contact</a>
        </div>

        <div class="col-lg-3 mt-4">
            <a href="https://www.facebook.com/login/" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://web.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="https://www.instagram.com/accounts/login/" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.youtube.com/" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
    </div>
</div>