<div class="wrapper">
  <h2>Registration</h2>
  <!-- not added Angular material because wanted to keep it simple and preserve it's styling -->
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="input-box">
      <input type="text" placeholder="Enter your name" formControlName="name">
      <p class="error" *ngIf="name?.errors?.['required'] && name?.touched">Name is required</p>
    </div>
    <div class="input-box">
      <input type="text" placeholder="Enter your email" formControlName="email">
      <p class="error" *ngIf="email?.errors?.['required'] && email?.touched">email is required</p>
      <p class="error" *ngIf="email?.errors?.['email'] && email?.touched">Please enter a valid email</p>
    </div>
    <div class="input-box">
      <input type="password" placeholder="Create password" formControlName="password">
      <p class="error" *ngIf="password?.errors?.['required'] && password?.touched">password is required</p>
      <p class="error" *ngIf="password?.errors?.['minlength'] || password?.errors?.['maxlength'] && password?.touched">password length should be between 6 - 30</p>
    </div>
    <div class="input-box">
      <input type="password" placeholder="Confirm password" formControlName="confirmPassword">
      <p class="error" *ngIf="confirmPassword?.errors?.['required'] && confirmPassword?.touched">Confirm password is required</p>
      <p class="error" *ngIf="signUpForm?.errors?.['passwordDontMatch']">Password and confirm password should Match.</p>
    </div>
    <div class="policy">
      <input type="checkbox">
      <h3>I accept all terms & condition</h3>
    </div>
    <div class="input-box button">
      <button type="Submit">Register Now</button>
    </div>
    <div class="text">
      <!-- Didn't added router link in <a> tag or else will have to change login model -->
      <h3>Already have an account? <a href="#">Login now</a></h3>
    </div>
  </form>
</div>