<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/Product photos/burger.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Best Burgers in Town</h5>
          <p>"life is too short to miss out on our double cheeseburgers"</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/Product photos/waffle.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Always save room for dessert !</h5>
          <p>"Where there's a waffle, there's a way"</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/Product photos/pina colada.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>You would definitely enjoy our tasty beverage.</h5>
          <p>"What are you waiting for? order now!"</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container-fluid">
      <div class="row">
    <div class="container col-lg-9 mt-5 mb-2">
        <p>
            " Lorem ipsum dolor sit, amet consectetur adipisicing elit. A at assumenda tenetur facere quidem dicta recusandae autem nobis, obcaecati consequatur ipsa cum voluptas nam dolorem quibusdam tempore ea aut eos.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, aut veniam sapiente optio fugit veritatis totam praesentium incidunt impedit quod aperiam, temporibus repellendus corporis ducimus laboriosam mollitia, similique enim alias.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, nostrum? Maxime quis ut deleniti ducimus error ipsam suscipit accusamus. Ad, voluptatum! Saepe quis totam minus? Officia quia commodi debitis provident.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio iste quibusdam enim veniam sint. Praesentium consequatur minus rerum? Tempora sunt fuga voluptas porro? Vitae numquam beatae aut omnis, ab rem.
            <br/>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. At itaque, voluptates placeat ratione saepe autem eos expedita quasi velit dolore libero debitis ipsa nisi quaerat, labore ex obcaecati. Iusto, repellendus.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum quod et nam expedita labore enim numquam qui suscipit assumenda voluptas ducimus, perferendis quae aliquid illum debitis provident ad illo id!
            <br/>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ea mollitia tempora quos ipsam ratione, error ut veritatis temporibus sunt eum inventore magni cum qui laudantium beatae suscipit quo nihil?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus deserunt minima, alias assumenda reprehenderit voluptate at architecto dolorum atque dolorem consequuntur, ipsum obcaecati aperiam tempora mollitia nostrum corrupti consequatur quia.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero quis autem accusamus, ea, ratione beatae ut, perspiciatis dolor optio pariatur praesentium atque aliquam qui nesciunt quae. Porro quas vitae ex. "
            <br/>
        </p>
    </div>
    <div class="logo col-lg-3">
        <h1 class="text-center">BON <br/> APPETIT</h1>
        <img src="../../../assets/img/logo.png" alt="This is an image">
    </div>
  </div>
  </div>
  