<div class="container">
    <h2>Secure Checkout</h2>
    <div class="btn-container">
      <button class="btn" (click)="initializePayment(2)" style="vertical-align: middle;">Place Order <i class="bi bi-credit-card"></i> </button>
    </div>
    <div class="payment_details">
        <h5>Demo Payment Details <i class="bi bi-arrow-right"></i></h5>
        <p>
            Email :<span>Your Email Address</span> <br/>
            Card Number :<span>4242 4242 4242 4242</span> <br/>
            Date :<span>Any Upcoming Date</span> <br/>
            CVC :<span>Any Three Digits</span>
        </p>
    </div>
</div>